<section class="sidebar">
  <div class="sidebar__toc-icon">
    <img src="{{ .Site.Params.tocIcon | absURL }}" alt="Toc Icon">
    <p class="sidebar__toc-title">{{ i18n "toc-title" | default "Content" }}</p>
  </div>
  <div class="sidebar__toc">
  {{/* Filtering pages that will not be part of the TOC */}}
  {{ $filteredPages := .Site.RegularPages }}
  {{ range $.Param "notAllowedTypesInArchive" }}
    {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
  {{ end }}

  {{ if gt (len $filteredPages) 0 }}
    {{ range $filteredPages.GroupByParam "serie" }}
      {{/* Removing trainling zero */}}
      {{ $key := .Key }}
      {{ if eq (substr $key 0 1) "0" }}
        {{ $key = substr $key 1 }}
      {{ end }}
    <p class="sidebar__toc-serie">{{ $key }}</p>
      {{/* This range function will get the directory of the first grouped page to use it to get the _index.md file */}}
        {{ range .Pages | first 1 }}
          {{ $currentPath := .File.Dir }}
    <div class="sidebar__toc-calendar-wrapper">
    <p class="sidebar__toc-calendar-title">{{ with $.GetPage (print $currentPath "_index.md") }}{{ .Params.months }}{{ end }}</p>
        {{ end }}
    <div class="sidebar__toc-calendar">
      {{ range .Pages.ByParam "toc_index" }}
      <a class="sidebar__toc-calendar-item" href="{{ .Permalink }}">{{ .Params.toc_index }}</a>
      {{ end }}
    </div>
    </div>
      {{ end }}
  {{ else }}
    {{ i18n "no-contents" | default "There is nothing to display" }}
  {{ end }}

  </div>
  {{ partial "sidebar/sidebar-cite.html" . }}
</section>
