
<section class="sidebar">
  <div class="sidebar__toc-icon">
    <img src="{{ .Site.Params.tocIcon | absURL }}" alt="Toc Icon">
    <p class="sidebar__toc-title">Contenido</p>
  </div>
  <div class="sidebar__toc custom-scroll">
  {{ $prelimPages := (where .Site.RegularPages "Section" "==" "prelims") }}
  {{ range $prelimPages.ByParam "toc_order" | first 1 }}
    {{ $currentPath := .File.Dir }}
    {{ with $.GetPage (print $currentPath "_index.md") }}
    <p class="sidebar__toc-serie">{{ .Params.section }}</p>
    {{ end }}
  {{ end }}
    <div class="sidebar__toc-calendar-wrapper prelims">
  {{ range $prelimPages }}
      <a href="{{ .Permalink }}">{{ .Params.title }}</a>
  {{ end }}
    </div>

  {{ $mymonths := index $.Site.Data.months.es }}
  {{/* Filtering pages that will not be part of the TOC */}}
  {{ $filteredPages := .Site.RegularPages }}

  {{ range $.Param "notAllowedTypesInArchive" }}
    {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
  {{ end }}

  {{ if gt (len $filteredPages) 0 }}
    {{ range $filteredPages.GroupByParam "serie" }}
      {{/* This range function will get the directory of the first grouped page to use it to get the _index.md file */}}
      {{ range .Pages | first 1 }}
        {{ $currentPath := .File.Dir }}
        {{ with $.GetPage (print $currentPath "_index.md") }}
    <p class="sidebar__toc-serie">{{ .Params.serie }}</p>
        {{ end }}
    <div class="sidebar__toc-calendar-wrapper">
      {{ end }}
    <div class="sidebar__toc-calendar">
      {{ range .Pages.ByDate }}
      {{ if eq .Params.Date.Day 1 }}
        <p class="sidebar__toc-calendar-title" style="flex-basis: 100%">{{ index $mymonths (printf "%d" .Params.Date.Month) }}</p>
      {{ end }}
      <a class="sidebar__toc-calendar-item" href="{{ .Permalink }}">{{ .Params.Date.Day }}</a>
      {{ end }}
    </div>
    </div>
    {{ end }}
  {{ else }}
    {{ i18n "no-contents" | default "There is nothing to display" }}
  {{ end }}
  </div>
  {{ partial "sidebar/sidebar-cite.html" . }}
</section>
