<section class="sidebar">
  <div class="sidebar__toc">
    {{ $filteredPages := .Site.RegularPages }}
    {{ range $.Param "notAllowedTypesInArchive" }}
      {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
    {{ end }}

  {{ if gt (len $filteredPages) 0 }}
    {{ range $filteredPages.GroupByParam "serie" }}
    <h3>{{ .Key }}</h3>
      <ul>
        {{ range .Pages }}
        <li>{{ .Title }}</li>
        {{ end }}
      </ul>
    {{ end }}
  {{ else }}
    {{ i18n "no-contents" | default "There is nothing to display" }}
  {{ end }}

  </div>
  {{ partial "sidebar/sidebar-cite.html" . }}
</section>
