<article class="card">
<div class="card-image">
  <figure class="image">
    <img src="{{ .Params.Image_webp | relURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | relURL }}'">
  </figure>
  </div>
    <div class="card-content">
      <p class="title is-4">{{ .Title }}</p>
      <p class="subtitle is-6">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>
      <div class="card-text">
        <p>{{ .Summary }}</p>
      </div>
      <div class="card-action has-text-centered mt-20">
        <a href="{{ .Permalink }}" class="button btn-align-md primary-btn raised">Leer más</a>
      </div>
    </div>
</article>
