<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ $.Param "languagedir" | default "ltr" }}">

<head prefix="og: https://ogp.me/ns#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ partial "head/meta" . }}
    <title>{{ block "title" . }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
    {{ partial "head/styles" . }}
    {{ partial "head/custom-head" . }}
</head>

<body id="root" onload="checkCookie()">
    <div id="container" class="grid-container" data-type="{{ .Type }}" data-kind="{{ .Kind }}">
            {{ partial "header/site-header" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "sidebar/sidebar-home.html" . }}
            {{ partial "footer/footer-home.html" . }}
    </div>
</body>
{{ partial "scripts/cite.html" . }}
{{ partial "scripts/dropdown.html" . }}
{{ partial "scripts/cookie.html" . }}
</html>
