{{ define "main" }}
{{ "<!-- List of chapters -->" | safeHTML }}

<section class="section is-medium">
  <div class="container">
    <p>This is the section to show the list of chapters</p>
    <div class="columns is-multiline">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="column is-one-third">
        {{ .Render "article" }}
      </div>
      {{ end }}
    </div>
    <div class="is-centered-tablet-portrait">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>

{{ "<!-- /chapters -->" | safeHTML }}
{{ end }}
