{{ define "main" }}
{{ $currentPath := .File.Dir }}
{{ $serie := .Params.serie }}
{{ $featuredClass := "" }}
{{ if .Params.featured }}{{ $featuredClass = "featured-post" }}{{ end }}
{{ $currentPath := .File.Dir }}
{{ $serieDescription := "Ninguna descripción"}}
{{ with $.GetPage (print $currentPath "_index.md") }}
{{ $serieDescription = .Params.description }}{{ end }}

<section class="main {{ $featuredClass }}">
  {{ if eq (substr $serie 0 1) "0" }}
    {{ $serie = substr $serie 1 }} {{/* Removing trainling zero */}}
  {{ end }}
  <div class="series-title">
    <p class="series-title">{{ $serie }}</p>
    <p class="series-description">{{ $serieDescription }}</p>
  </div>
  <div class="primary-content custom-scroll">
    <h2>{{ .Title }}</h2>
    {{ if .Params.video }}
    <p class="video-playbutton" href="{{ . | safeURL }}" target="_blank">{{ partial (print "svg/social/" "youtubeplay.svg") (dict "width" 36 "height" 36) }}</p>
    <div id="video-box" class="video-responsive">
      <iframe src="{{ .Params.video | safeURL }}" frameborder="0" encrypted-media allowfullscreen></iframe>
    </div>
    {{ end }}
    <p>{{ .Content }}</p>
  </div>
  <div class="secondary-content custom-scroll">
    <p>
      <img src="{{ .Site.Params.leftAuxTitleDecoration | absURL }}" alt="Auxiliar Title Decoration">
      {{ .Params.secondary_title | markdownify }}
      <img src="{{ .Site.Params.rightAuxTitleDecoration | absURL }}" alt="Auxiliar Content Decoration">
    </p>
      {{ if .Params.audio }}
      <audio controls controlsList="nodownload" loop metadata>
        <source src="{{ .Params.audio | absURL }}" type="audio/mpeg">
      </audio>
      {{ end }}
    <p>{{ .Params.secondary_content | markdownify }}</p>
  </div>
</section>
{{ end }}
