/* Wbook CSS */
/* GENERAL RULES */
@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
  padding: 2rem 1rem;
}

h3, h4 {
  text-align: left;
  padding-bottom: 2rem;
}

p {
  text-align:justify;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.6;
}

sup {
  font-weight: bold;
}

/* SPECIFIC RULES */

/* The base container is a css grid, it is located into the baseof.html layout.
   Here is defined the tempaltes areas to build a grid with two columns and three rows */
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 100px 1fr 70px;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;
  min-height: 0;  /* NEW */
  min-width: 0;   /* NEW; needed for Firefox */
}

/* The header is a flex container, with the elements separated to the extremes, it is
   located into the baseof.html file. The parameter grid-area assigns a name to the
   header class inside de css grid (.grid-container)*/
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9191d9;
  padding: 0 16px;
}

/* These are the elements of the hader */
.header__left-element .header__right-element {
  display: inline-block;
}

/* The main container is a css grid, it is located into the single.html layout.
   Here is defined the tempaltes areas to build a grid with two columns and two rows.
   This is the reading area of the Wbook. */
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "series-title series-title series-title"
    "primary-content primary-content secondary-content";
  background-color: #8fd4d9;
}

/* The series title will ocupy the whole width of the main container. This element
   just shows the header text of the book. */
.series-title {
  grid-area: series-title;
  align-self: center;
  font-family: serif;
  font-weight: bold;
  font-size: 150%;
  text-transform: capitalize;
  padding: 16px;
}

/* The primary-content container has the {{ .Content }} variable of the built page */
.primary-content {
  grid-area: primary-content;
  padding: 20px;
  overflow-y: scroll;
  height: 40rem;
}

/* The secondary-content has the {{ .Param.description }} that comes from the
   front-matter of the page.md */
.secondary-content {
  grid-area: secondary-content;
  padding: 20px;
  overflow-y: scroll;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #91d9a3;
  min-width: 0;      /* NEW; needed for Firefox */
}

.sidebar__toc {
  flex-basis: auto;
  border: 1px solid;
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  overflow-y: scroll;
  max-height: 70%;
}

.sidebar__toc-serie {
  text-align: left;
  font-weight: bold;
  line-height: normal;
  cursor: pointer;
  color: darkcyan;
}

.sidebar__toc-serie:hover {
  color: DarkTurquoise;
}

.serie--active {
  background-color: rgba(255,255,255, 0.2);
}

.calendar-wrapper {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.sidebar__toc-calendar {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-flow: row wrap;
  border: 1px solid;
  padding: 10px;
}

.sidebar__toc-caltitle {
  text-align: center;
  line-height: normal;
  padding: 0;
}

.sidebar__toc-calendar-item {
  text-align: center;
  width: 25px;
  height: 25px;
  margin: 2px;
  padding-top: 4px;
  border: 1px solid;
}

.sidebar__cite {
  font-style: italic;
  text-align: center;
  overflow-y: scroll;
  border-style: solid;
  border-width: 1px;
  width: 90%;
  min-height: 30%;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d99191;
  padding: 0 10px;
}

.cite-text {
  display: none;
}

.cite-title {
  cursor: pointer;
  color: darkcyan;
}

.cite-title:hover {
  color: DarkTurquoise;
}

.center-italic {
  text-align: center;
  font-style: italic;
  padding-bottom: 2rem;
}
