<footer class="footer">
  {{ partial "footer/links-social-author.html" . }}
  <div class="footer__book-code">
    <p>{{ .Site.Params.ISBN }}</p>
    <div class="floating-desktop">
      <a href="{{ .Site.Params.downloadLink | safeURL }}">
        <img class="footer__book-code-images" src="{{ .Site.Params.downloadImage | absURL }}" alt="Download Image">
      </a>
      <a href="{{ .Site.Params.EditorLink | safeURL }}">
        <img class="footer__book-code-images" src="{{ .Site.Params.editorLogo | absURL }}" alt="Editor Logo">
      </a>
    </div>
  </div>
  {{ partial "footer/links-social-editor.html" . }}
</footer>
