<footer class="footer">
  {{ partial "footer/links-social-author.html" . }}
  <div class="footer__book-code">
    <p>{{ .Site.Params.ISBN }}</p>
    <a class="footer__book-link-image" href="{{ .Site.Params.downloadLink | absURL }}" target="_blank">
      <img src="{{ .Site.Params.downloadImage | absURL }}" alt="Download Image">
    </a>
  </div>
  <div class="footer__link-images">
    <a class="footer__link-image" href="{{ .Site.Params.EditorLink | safeURL }}" target="_blank">
      <img src="{{ .Site.Params.editorLogo | absURL }}" alt="Editor Logo">
    </a>
    {{ range $name, $path := .Site.Params.socialOptionsEditor }}
    {{ if $path }}
    <a class="footer__link-image" href="{{ $path | safeURL }}" title="{{ $name }}" aria-label="{{ $name }}" target="_blank">
      {{ partial (print "svg/social/" $name ".svg") (dict "width" 48 "height" 48) }}
    </a>
    {{ end }}
    {{ end }}
  </div>
</footer>
