{{ define "main" }}
{{ $hideClass := "" }}
<section class="main">
  <div class="primary-content custom-scroll">
    <h1>{{ .Title }}</h1>
    {{ if .Params.video }}
    <div class="video-responsive2">
      <iframe src="{{ .Params.video | safeURL }}" frameborder="0" encrypted-media allowfullscreen></iframe>
    </div>
    {{ end }}
    <p>{{ .Content }}</p>
  </div>
  {{ if .Params.hide_secondary_content }}
    {{ $hideClass = "hide-class" }}
  {{ end }}
  <div class="secondary-title {{ $hideClass }}"></div>
  <div class="secondary-content custom-scroll {{ $hideClass }}">
    <img class="secondary-content__background" src="{{ .Params.Image | absURL }}" alt="Background Image">
  </div>
</section>
{{ end }}
