{{ define "main" }}
{{ $hideCover := "" }}
{{ $hideTitles := "" }}
{{ $hideAuthor := "" }}
<section class="main">
  <div class="primary-content custom-scroll">
    <h1>{{ .Title }}</h1>
    <p>{{ .Content }}</p>
  </div>
  <div class="secondary-title"></div>
  {{ if eq .Title "Perfil del autor" }}
    {{ $hideTitles = "secondary-content__hide-titles" }}
    {{ $hideCover = "secondary-content__hide-cover" }}
  {{ else }}
    {{ $hideAuthor = "secondary-content__hide-author" }}
  {{ end }}
  <div class="secondary-content custom-scroll">
    <img class="secondary-content__book-image {{ $hideCover }}" src="{{ .Params.Image | absURL }}" alt="Book Cover">
    <img class="secondary-content__author-image {{ $hideAuthor }}" src="{{ .Params.Image | absURL }}" alt="Author Image">
    <div class="secondary-content__titles {{ $hideTitles }}">
      <p class="secondary-content__book-type">Libro Devocional</p>
      <p class="secondary-content__book-title">#EnCasaConDios</p>
      <div class="secondary-content__book-logo">
        <img src="{{ .Site.Params.bookLogo | absURL }}" alt="Book Logo">
      </div>
      <p class="secondary-content__book-author">Jimmy Chamorro</p>
      <div class="secondary-content__book-brand">
        <img src="{{ .Site.Params.brandLogo | absURL }}" alt="Brand Logo">
      </div>
    </div>
  </div>
</section>
{{ end }}
