{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<main class="index">
  <div class="index__flex-item">
    <p class="index__book-type">Libro Devocional</p>
    <p class="index__book-title">#EnCasaConDios</p>
    <div class="index__book-logo">
      <img src="{{ .Site.Params.bookLogo | absURL }}" alt="Book Logo">
    </div>
    <p class="index__book-author">Jimmy Chamorro</p>
    <div class="index__book-brand">
      <img src="{{ .Site.Params.brandLogo | absURL }}" alt="Brand Logo">
    </div>
  </div>
</main>
{{ end }}
