<script>
// Agregar evento click a los dropdown-btn
const sidebarListEl = document.getElementsByClassName("sidebar__toc-serie");

for (var i = 0; i < sidebarListEl.length; i++) {
  sidebarListEl[i].addEventListener("click", function() {
    this.classList.toggle("serie--active");
    // Obtener el siguiente elemento hermano y cambiar atributo max-height
    const hiddenContent = this.nextElementSibling;
    if (hiddenContent.style.maxHeight) {
      hiddenContent.style.maxHeight = null;
      setCookie("active-item", "", 365)
    } else {
      hiddenContent.style.maxHeight = hiddenContent.scrollHeight + "px";
      setCookie("active-item", this.innerText, 365)
    }
  });
}

function setCookie(cname, cvalue, exdays) {
  let d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  let expires = "expires=" + d.toGMTString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
</script>
