<header class="header">
  <div class="header__image-left">
    <img src="{{ .Site.Params.headerTopLeftImage | absURL }}" alt="Top-left image">
  </div>
  <div class="header__image-right">
    <img src="{{ .Site.Params.headerTopRightImage | absURL }}" alt="Top-right image">
  </div>
  <div class="header__brand-title">
    <p>{{ .Site.Params.author }}</p>
  </div>
  <div class="header__book-title">
    <p>{{ .Site.Params.title }}</p>
    <img class="header__title-decoration" src="{{ .Site.Params.titleDecoration | absURL }}" alt="Title Decoration">
  </div>
  <div class="header__brand-logo">
    <a class="header__brand-link" href="{{ .Site.Params.brandLink | absURL }}"><img src="{{ .Site.Params.logo | absURL }}" alt="Logo"></img></a>
  </div>
</header>
