<header class="header">
  <div class="header__menu" id="header__menu-click">
    <i class="fas fa-bars"></i>
  </div>
  <div class="header__search">
    <input type="text" name="header__search" placeholder="Buscar..."/>
  </div>
  <div class="header__avatar" id="header__avatar-click">
    <div class="dropdown" id="dropdown__hidden">
      <ul class="dropdown__list">
        <li class="dropdown__list-item">
          <span class="dropdown__icon"><i class="far fa-user"></i></span>
          <span class="dropdown_title">Mi Perfil</span>
        </li>
        <li class="dropdown__list-item">
          <span class="dropdown__icon"><i class="fas fa-clipboard-list"></i></span>
          <span class="dropdown_title">Mi cuenta</span>
        </li>
        <li class="dropdown__list-item">
          <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
          <span class="dropdown_title"><a href="https://anatana.netlify.app">Salir</a></span>
        </li>
      </ul>
    </div>
  </div>
</header>
